.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}

.canvas-container {
	float: left;
}

table {
	float: left;
	min-width: 250px;
	border: 1px solid black;
	margin-right: 20px;

}

table * {
	padding: 2px;
}

.displayTable {
	display: table;
}

.centered {
	margin: 0 auto;
}

.mb30 {
	margin-bottom: 30px;
}

.animatingDivContainer {
    width: 600px;
    height: 600px;
    position: relative;
}

.animatingDiv {
    left: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: blue;
}